header {
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 400px;
    height: 800px;
}

header h1{
    
    padding-top: 600px;
}


footer i, p{
    color:white;
}

footer p {
text-align: left;
}

#parrafo1 {
    line-height: 40px;
    font-size: 16px;
    font-family: 'Open Sans, Sans-Serif';
   
}

#parrafo2 {
    line-height: 40px;
    font-size: 16px;
    font-family: 'Open Sans, Sans-Serif';
}

#titulo1 {
    line-height: 40px;
    font-size: 25px;
    font-family: 'Open Sans, Sans-Serif';
    font-weight: 600;
    
}

#contact {
    font-family: 'OSwald';
    font-size: 82px;
    font-weight: 700;
    
}

.card-img-top {
    padding-right: 10px;
    padding-left: 10px;
}

.linea{
    border-top: 3px solid black;
    width: 20%;
    margin: 0 auto;
}