html, body {
    width:100%;
    height:100%;
    margin: 0px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


header h1{
    
    
    font-family: 'Oswald';
    font-size: 10vw;
    font-weight: 200;
    
}

header img {
    max-width: 100%;
    
}

video {
 
    background-size: cover;
    min-height: 100%;
    max-width:100%;
    z-index: -1;
}


footer i, p{
    color:white;
}

footer p {
    text-align: left;
}

#works {
    background-color: rgb(25, 206, 136);
}

#icon1, #icon2{
    animation: pulse 6s infinite;
}

#parrafo1 {
    line-height: 40px;
    font-size: 16px;
    font-family: 'Open Sans, Sans-Serif';
    font-weight: 400;
    
    
}

#parrafo2 {
    line-height: 40px;
    font-size: 16px;
    font-family: 'Open Sans, Sans-Serif';
    font-weight: 400;
}

#titulo1 {
    line-height: 40px;
    font-size: 25px;
    font-family: 'Open Sans, Sans-Serif';
    font-weight: 600;
    
}

#ultimostrabajos {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 52px;
}

#contact {
    font-family: 'Oswald';
    font-size: 82px;
    font-weight: 700;
    
}

#experience h1{
    font-family: 'Oswald';
    font-weight: 700;
}

#contact h1 {
    font-family: 'Oswald';
    font-weight: 700;
}

#experience-main-title{
    animation: pulse 6s infinite;
}

#linea-exp {
    animation: pulse 6s infinite;
}

#experiencetitle{
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 25px;
    animation: pulse 6s infinite;
}


#date {
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 300;
    animation: pulse 6s infinite;
}

  
@keyframes pulse {
    40% {
      color: rgb(25, 206, 136);
    }
    80% {
      color: #FF3396;
    }
}

/* .hero-image {
    background-image: url(../img/yo.jpg);
    height: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
} */

.hero-text {
    text-align: center;
    padding-top: 10vw;
    color:white;
}


.linea{
    border-top: 2px solid white;
    width: 30%;
    margin: 0 auto;
}

.linea2{
    border-top: 2px solid black;
    width: 8.8%;
    margin: 0 auto;
    
}

.linea3{
    border-top: 2px solid white;
    width: 8%;
    margin: 0 auto;
}

.card-title{
    font-family: 'Oswald';
    font-weight: 400;
}

#cardtext{
    font-family: 'Open Sans';
    font-weight: 300;
}

/*first media query (mobile S-M)*/

@media (min-width:0px) and (max-width: 425px) {
    
    #aboutmenav{
        display:none;
    }
    
    #text {
        display: none;
        
    }
    
    #experience h1 {
        padding-top:50px;
        font-size: 10vw;
        
    }
    
    #ultimostrabajos {
        font-size: 35px;
    }
    
     
    .linea2 {
        width: 40vw;
    }
    
    .linea3 {
        width: 40vw;
    }
    
    footer {
        height: 70vw;
        font-size:12px;
    }
    
    footer h1 {
        font-size: 30px;
        font-family: 'Oswald';
        font-weight:600;
        color: white;
        padding-top: 45px;
    }
    
    footer i {
        padding-top: 20px;
        margin-right: 15px;
    }
    
    #cut {
        display:none;
    }
}

/*second media query (mobile L)*/

@media (min-width: 425px) and (max-width:767px) {
    header {
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    header h1 {
        font-size: 8vw;
    }
    
    .hero-text {
        padding-top: 10vw;
    }
    
    .hero-image {
        height:100%;
    }
    
    #title {
        padding-bottom: 300px;
    }
    
    .linea {
        width: 20vw;
    }
    
    .linea2 {
        width:40vw;
    }
    
    .linea3 {
        width: 40vw;
    }
    
    footer {
        height: 45vw;
        font-size:12px;
    }
    
    footer h1 {
        font-size: 30px;
        font-family: 'Oswald';
        font-weight:600;
        color: white;
        padding-top: 45px;
    }
    
    footer i {
        padding-top: 20px;
        margin-right: 15px;
    }
}

/* third media query (tablet) */

@media (min-width: 768px) and (max-width:1023px){
    header {
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    
    header h1 {
        font-size: 5vw;
    }
    
    .hero-image {
        height: 100%;
        width: 100%;
        
        
    }
    
    .hero-text {
        padding-top: 0vw;
    }
    
    #title {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 500px;
        font-size: 70px;
    }
    
    .linea {
        width: 25vw;
    }
    
    .linea2 {
        width: 20vw;
    }
    
    .linea3 {
        width: 24vw;
        
    }
    
    #parrafo1, #parrafo2 {
        font-size: 20px;
    }
    
    #iconcol1 {
        padding-top:36px;
    }
    
    #icon1 {
        padding-bottom: 10px;
      
    }
    
    footer {
        height: 30vw;
        font-size:12px;
    }
    
    footer h1 {
        font-size: 30px;
        font-family: 'Oswald';
        font-weight:600;
        color: white;
        padding-top: 45px;
    }
    
    footer i {
        padding-top: 20px;
        margin-right: 15px;
    }
    
}

/* fourth media query (laptop) */

@media (min-width:1024px) and (max-width:1440px){
    header {
        background-repeat: no-repeat;
        background-size: cover;
        height: 55vw;
        width:100%;
        
        
    }
    
    header h1 {
        font-size: 5vw;
    }
    
    .hero-image {
        height: 100%;
        width: 100%;
        background-position: bottom;
        
    }
    
    
    
    #title {
        text-align: center;
        padding-top: 28vw;
        padding-bottom: 10vw;
        font-size: 6vw;
    }
    
    
    .linea {
        width: 12vw;
    }
    
    .linea2{
        width: 12vw;
    }
    
    .linea3 {
        width: 29vw;
    }
    
    #icon1 {
        padding-top: 40px;
    }
    
    #contact, h1 {
        font-family: 'Oswald';
        font-weight: 700;
        font-size: 52px;
    }
    
    footer {
        height: 25vw;
        font-size:20px;
    }
    
    footer h1 {
        font-size: 60px;
        font-family: 'Oswald';
        font-weight:600;
        color: white;
        padding-top: 45px;
    }
    
    footer i {
        font-size: 40px;
        padding-top: 20px;
        margin-right: 15px;
    }
    
    #icon3, #icon4, #icon5, #icon6 {
        font-size: 90px;;
    }
}

/* fifth media query (laptop L) */

@media (min-width:1441px) {
    
    header {
        background-repeat: no-repeat;
        background-size: cover;
        height: 55vw;
        width:100%;
    }
    
    header h1 {
        font-size: 5vw;
    }
    
    .hero-image {
        height: 100%;
        width: 100%;
        background-position: bottom;
        
    }
    
    #title {
        text-align: center;
        padding-top: 28vw;
        padding-bottom: 10vw;
        font-size: 6vw;
    }
    
    
    .linea {
        width: 12vw;
    }
    
    .linea2{
        width: 12vw;
    }
    
    .linea3 {
        width: 29vw;
    }
    
    #icon1 {
        padding-top: 40px;
    }
    
    #contact, h1 {
        font-family: 'Oswald';
        font-weight: 700;
        font-size: 52px;
    }
    
    #icon3, #icon4, #icon5, #icon6 {
        font-size: 90px;;
    }
    
    footer {
        height: 20vw;
        font-size:20px;
    }
    
    footer h1 {
        font-size: 60px;
        font-family: 'Oswald';
        font-weight:600;
        color: white;
        padding-top: 45px;
    }
    
    footer i {
        font-size: 400px;
        padding-top: 20px;
        margin-right: 15px;
    }
}

/* last media query (4K) */

@media (min-width:2560px){

        header{
            background-size: cover;
            background-repeat: no-repeat;
            height:55vw;
            padding-bottom:150px;

        }

 

    .hero-image{
        height: 110%;
        
    }

    #titulo1 {
        font-size: 40px;
                       
    }
    
    .linea2{ 
        padding-bottom:100px;
    }

    #parrafo1, #parrafo2{
        font-size: 1.5vw;
    }

    #experience{
        padding-top:200px;
        padding-bottom: 100px;
        
    }

    #experience h1, #ultimostrabajos, #contact h1{
        font-size:3vw;
    }

    #icon1{
        font-size: 10vw;
    }

    #icon2 {
        font-size:10vw;
    }

    #experiencetitle, #date{
        font-size:2vw;
    }

    .card-title{
        
        font-size: 60px;
        
    }

    #cardtext{
        font-size: 40px; 
       }

    footer {
        height: 18vw;
        
    }
    
    footer h1 {
        font-size: 80px;
        font-family: 'Oswald';
        font-weight:600;
        color: white;
        padding-top: 45px;
    }
    
    footer i {
        padding-top: 40px;
        margin-right: 40px;
    }

    #icon3, #icon4, #icon5, #icon6 {
        font-size: 150px;;
    }

}


