html, body {
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    overflow-x: hidden;
}

header h1{
    
    
    font-family: 'Oswald';
    font-size: 10vw;
    font-weight: 200;

}

header img {
    max-width: 100%;
    
}


footer i, p{
    color:white;
}

footer p {
    text-align: left;
}

#works {
    background-color: rgb(25, 206, 136);
}

#parrafo1 {
    line-height: 40px;
    font-size: 16px;
    font-family: 'Open Sans, Sans-Serif';
    
    
}

#parrafo2 {
    line-height: 40px;
    font-size: 16px;
    font-family: 'Open Sans, Sans-Serif';
}

#titulo1 {
    line-height: 40px;
    font-size: 25px;
    font-family: 'Open Sans, Sans-Serif';
    font-weight: 600;
    
}

#ultimostrabajos {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 52px;
}

#contact {
    font-family: 'Oswald';
    font-size: 82px;
    font-weight: 700;
    
}

#experiencetitle{
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 25px;
}

#date {
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.hero-image {
    background-image: url(../img/bg_hero.png);
    height: 110vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero-text {
    text-align: center;
    padding-top: 81vw;
    color:white;
}


.linea{
    border-top: 2px solid white;
    width: 50%;
    margin: 0 auto;
}

.linea2{
    border-top: 2px solid black;
    width: 8.8%;
    margin: 0 auto;
}

.linea3{
    border-top: 2px solid white;
    width: 8%;
    margin: 0 auto;
}


@media (min-width: 991px) {
    header {
        background-repeat: no-repeat;
        background-size: cover;
                
    }

    .hero-image {
        height: 50%;
                
    }

}